#about {
  background-color: #DBF227;
  color: #181740;
  min-height:100vh;
  padding-top: 1vh;
  padding-bottom: 5vh;
}
#about h1 {
  font-family: "Rubik Mono One", monospace;
  color: #CB00A4;
  font-size: 8vw;
  font-style: oblique;
  text-shadow: -2px 2px #FF0000;
}
#about img {
  max-width:100%;
  max-height:100%;
  border-radius: 50%;
  margin-bottom: 30px;
}
#about a {
  color: #9C007E;
}
#about a:hover {
  color: #CB00A4;
}
#experience {
  background-color: #181740;
  color: #eff7d3;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
#experience a {
  color: #DBF227;
}
#experience a:hover {
  color: #DA21ED;
}
#experience h2{
  font-family: "Rubik Mono One", monospace;
  color: #eff7d3;
  font-style: oblique;
  text-shadow: -2px 2px #7B0064;
  padding-top: 5vh;
}
#experience h3{
  font-family: "Rubik Mono One", monospace;
  color: #eff7d3;
  padding-bottom: 1vh;
  padding-bottom: 2vh;
}

#contact {
  background-color: #736E58;
  color: #291860;
  padding-top: 10vh;
  padding-bottom: 25vh;
}
.navbar-light {
  background-color: #DBF227;
}
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
  font-family: "Rubik Mono One", monospace;
  color: #CB00A4;
  font-style: oblique;
  text-shadow: -1px 1px #ff0000;
}
.navbar-light .nav-link {
  font-family: "Rubik Mono One", monospace;
  font-style: oblique;
  font-size: 2em;
  color: #7FA400;
}
.navbar-light .navbar-nav .nav-link {
  font-family: "Rubik Mono One", monospace;
  color: #181740;
}
body {
  background-color: #291860;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13pt;
}